<template name="categories">
  <div class="grid-small grid-block dialog admin">
    <h2>Categories</h2>
    <form class="form-block">
      <h3>Add new category</h3>
      <div class="control-group">
        <label>Name</label>
        <div class="controls"><input id="name" type="text" value="" /></div>
      </div>
      <div class="control-group">
        <label>Write Admin Only?</label>
        <div class="controls"><input id="isAdmin" type="checkbox" value="true" class="input checkbox"/></div>
      </div>
      <div class="control-group">
        <label>Use Moderator Only?</label>
        <div class="controls"><input id="isModerator" type="checkbox" value="true" class="input checkbox"/></div>
      </div>
      <div class="form-actions">
        <input type="submit" class="button" value="Submit" />
      </div>
    </form>
    <ul>
      {{#each categories}}
        {{> category_item}}
      {{/each}}
    </ul>
  </div>
</template>
